.create-form-background {
	background-color: $dark-grey;
	margin-left: auto;
	margin-right: auto;
	width: 1140px;
	height: auto;
}

.create-form-background{
	.form-group {
		margin: 15px auto 15px auto;
	}
}

.create-form-background {
	.btn {
		width: 250px;
	}
}

#save {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

label {
	color: #fff;
}