.create-form-background {
	background-color: $dark-grey;
	margin-left: auto;
	margin-right: auto;
	width: 1140px;
	height: auto;
}

.create-form-background{
	.form-group {
		margin: 15px auto 15px auto;
	}
}

.create-form-background {
	.genre {
		float: left;
	}
}

.create-form-background{
	.btn {
		width: 100px;
		margin-left: auto;
		margin-right: auto;
	}
}

#dropdownMenu-location {
	width: 200px;
}

#dropdownMenu-console, #dropdownMenu-genre, #dropdownMenu-state {
	width: 250px;
}

label {
	color: #fff;
}