.homepage-signup {
	background-color: $dark-grey;
	width: auto;
	height: 525px;
}

.pixel-img {
	position: absolute;
	bottom: 0;
}
#pokemon {
	right: 0;
}
#mario {
	right: 200px;
}
#r2d2 {
	right: 300px;
}
