@import 'variables';
@import 'home';
@import 'navbar';
@import 'create';
@import '../vendor/bootstrap-sass/assets/stylesheets/bootstrap';
// @import '/vendor/bootstrap-sass/assets/fonts/bootstrap';

body {
	background-color: #000;
	font-family: $sans-serif;
}

.site-name {
	color: #fff;
	font-family: $pixel;
}